.main-container {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: auto 1fr;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

.main {
  grid-area: main;
  padding: 1rem 5rem;
}

/* **************************************************************************************************** */

@media only screen and (max-width: 720px) {
  .main-container {
    grid-template-areas:
      "aside"
      "main";
    grid-template-columns: auto;
  }
}

/* **************************************************************************************************** */
