.main-container {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: auto 1fr;
}

.aside {
  grid-area: aside;
  padding: 2rem;
}

.aside > * {
  margin-bottom: 5rem;
}

.main {
  grid-area: main;
  padding: 1rem;
}

/* **************************************************************************************************** */

@media only screen and (max-width: 600px) {
  .main-container {
    grid-template-areas:
      "aside"
      "main";
    grid-template-columns: auto;
  }
}

/* **************************************************************************************************** */
