.main-container {
  display: grid;
  grid-template-areas:
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
}

.main {
  grid-area: main;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.aside {
  grid-area: aside;
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

/* **************************************************************************************************** */

/* MEDIA QUERIES START */

@media only screen and (max-width: 720px) {
  .main-container {
    grid-template-areas:
      "aside aside aside aside aside"
      "main main main main main"
      "main main main main main";
  }
}

/* MEDIA QUERIES END */

/* **************************************************************************************************** */
