.main-container {
  display: grid;
  grid-template-areas:
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main {
  grid-area: main;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.aside {
  grid-area: aside;
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  /* background-color: var(--light-color);
  color: var(--dark-color); */
}

/* **************************************************************************************************** */

/* MEDIA QUERIES START */

@media only screen and (max-width: 960px) {
  .main-container {
    grid-template-rows: 0.6fr repeat(3, 2fr) 1fr;
  }

  .header {
    align-items: center;
    justify-content: center;
  }

  .portrait-cards > * {
    flex-wrap: wrap;
  }
}

/* MEDIA QUERIES END */

/* **************************************************************************************************** */
